.project-container {
    display: grid;
    grid-template-columns: 100%;
}

.badge {
    width: 60px;
    height: 30px;
    background-color: skyblue;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge>span {
    font-family: Pretendard;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #fff;
}

/* ------ banner start------ */

.banner {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.banner-container {
    display: grid;
    width: 100%;
    gap: 1rem;
}

@media screen and (min-width : 768px) {
    .banner-container {
        grid-template-columns: minmax(1fr, 1fr)
    }
}

@media screen and (min-width : 800px) {
    .banner-container {
        grid-template-columns: 5fr 7fr;
    }
}

.banner-widget {
    display: none;
    width: 100%;
}


@media screen and (min-width : 800px) {
    .banner-widget {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.widget {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.3fr;
    color: #222;
}



.widget>div:nth-child(1) {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.widget>div:nth-child(2) {
    padding: 0rem 1.5rem 0rem 1.5rem;
}

.widget>div:nth-child(3) {
    border-radius: 0px 0px 24px 24px;
}

.widget-profile {
    display: flex;
    align-items: center;
}

.widget-profile>.profile {
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 30px;
    background-color: #e0e0e0;
}

.widget-user {
    display: flex;
    align-items: center;
}

.widget-cog {
    width: 48px;
    height: 48px;
}

.widget-cog>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widget-brush {
    width: 48px;
    height: 48px;
}

.widget-brush>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widget-user-name {
    font-size: 18px;
}

.widget-user-name>span:nth-child(1) {
    font-weight: 600;
}

.widget-alaram-type {
    font-weight: 600;
}

.widget-date {
    border-radius: 14px;
    width: 100%;
    height: 70%;
    border-radius: 14px;
    background-color: #efefef;
    justify-content: space-between;
}

.widget-date-day {
    font-size: 24px;
    padding: 1.2rem;
}

.widget-date-day>span:nth-child(1) {
    font-weight: bold;
}

.widget-date-time {
    text-align: left;
    padding: 1rem;
    align-items: center;
}

.widget-date-time>div:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 1.1rem;
    margin-right: 0.3rem;
}

.widget-date-time>div:nth-child(2) {
    font-size: 44px;
    font-weight: 300;
    color: #222;
}


.widget-footer {
    background-color: #efefef;
    padding: 1.7rem 1.7rem 1.7rem 1.7rem;
}

.widget-icon {
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner-widget>div {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.banner-header {
    display: row;
}


.banner-recent-project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-recent-project>div {
    width: 100%;
    height: 100%;
}


.recent-project-card {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.recent-project-d-day {
    justify-content: flex-end;
}

.recent-project-type {
    text-align: center;
    font-size: 24px;
    padding-bottom: 1rem;
}

.recent-project-name {
    font-size: 54px;
    font-weight: 600;
    text-align: center;
}

.recent-project-icon-list {
    justify-content: flex-end;
    align-items: end;
}

.recent-project-icon {
    width: 32px;
    height: 32px;
    margin: 0.2rem;
}

.recent-project-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------- banner end -------- */


/* -------- favorite start --------- */
.favorite {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top : 1.5rem;
}

.favorite-btn-list {
    margin-top: 0.4rem;
    display: flex;
}

.favorite-btn {
    width: 144px;
    height: 42px;
    border-radius: 9px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-btn-name {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.favorite-btn-icon {
    width: 32px;
    height: 32px;
    margin: 0.2rem;
}

.favorite-btn-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-card {
    padding: 1.5rem;
    border: 1px solid white;
    width: 100%;
    height: 100%;
}

.favorite-card-list {
    display: grid;
    margin-top: 0.4rem;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .favorite-card-list {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    }
}

@media screen and (min-width: 780px) {
    .favorite-card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.favorite-card-list>div {
    height: 240px;
}


.favorite-project-name {
    font-size: 36px;
    font-family: Pretendard;
    ;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.36px;
    text-align: left;
}

.favorite-project-icon-list {
    display: flex;
    justify-content: space-between;
}

.favorite-project-icon {
    width: 32px;
    height: 32px;
}

.favorite-project-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------- favorite end ----------- */

/* -------- myProject start -------- */
.project {
    width: 100%;
    min-height: 23vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.7rem;
    padding-top : 1.5rem;
}

.project-btn-list {
    margin-top: 0.4rem;
    display: flex;
}

.project-btn {
    width: 180px;
    height: 42px;
    border-radius: 9px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-btn-name {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.project-btn-icon {
    width: 32px;
    height: 32px;
    margin: 0.2rem;
}

.project-btn-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card {
    padding: 1.5rem;
    border: 1px solid white;
    width: 100%;
    height: 100%;
}


.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.project-card-list {
    margin-top: 0.4rem;
    display: grid;
    gap: 1rem;
}

.project-empty {
    margin-top : 0.4em;
    display : grid;
    grid-template-columns: 1fr;
    
}

.project-empty>div{
    height : 480px;
    background-color : #f2f3ff;
    border-radius: 24px;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-empty-create-btn{
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.78;
    letter-spacing: -0.18px;
    text-align: left;
    color: #222;
    background-color : #e6e8ff;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 116px;
    right:1.9rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.dropdown-content>div:hover {

    background-color: #f2f3ff;
    color: #1120ff;
}

.no-show {
    display: none;
}

.block-show {
    display: block;
}



@media screen and (min-width: 768px) {
    .project-card-list {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    }
}

@media screen and (min-width: 780px) {
    .project-card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}




.add-project-btn {
    position: fixed;
    width: 48px;
    height: 48px;
    background-color: #5915b2;
    border-radius: 3px;
    right: 16px;
    top: 57%;
    z-index: 99999;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}

.project-card-list>div {
    height: 152px;
    background-color: #f5f5f5;
}

.project-name {
    font-size: 24px;
    font-family: Pretendard;
    ;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.36px;
    text-align: left;
    color: #222;
}

.project-icon-list {
    display: flex;
    justify-content: space-between;
}

.project-icon {
    width: 32px;
    height: 32px;
    margin: 1rem;
}

.project-icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* -------- myProject end -------- */