.task-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.task-side-menu{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 319px;
    border-right: 1px solid #e4e4e4;
    padding-top: 44px;
    box-sizing: border-box;
}
.task-side-menu > * {
    padding: 0 16px;
}
.task-search-box{
    width: 100%;
    height: 48px;
}
.task-side-content {
    height: 100%;
    width: 100%;
    margin-top: 27px;
    padding-bottom: 64px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.task-side-content::-webkit-scrollbar {
    width: 3px;
    padding: 0;
}

.task-side-content::-webkit-scrollbar-thumb {
    background: #a6a6a6; 
    border-radius: 10px;
    padding: 0;
    
} 
.project-add-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    bottom: 14px;
    left: 16px;
    width: calc(100% - 32px);
    height: 48px;
    border: 1px solid #1120ff;
    border-radius: 9px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.project-add-btn:hover{
    background-color: #f2f3ff;
}
.project-add-btn > img{
    width: 24px;
    height: 24px;
}

.project-add-btn > span{
  font-family: Pretendard;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.17px;
  text-align: left;
  color: #1120ff;
}

.task-view-list {
    position: relative;
    height: 100vh;
    width: calc(100% - 319px);
    display: flex;
    flex-direction: column;
    padding: 38px 44px 44px 44px;
    box-sizing: border-box;
}

.task-view-tab-title {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.24px;
    text-align: left;
    color: #d2d2d2;
    cursor: pointer;

}

.active-project-other {
    display: flex;
    align-items: flex-end;
}

.project-remain-title {
    opacity: 0.5;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #222222;
}

.project-during-date {
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #222222;
}

.task-view-body{
    margin-top: 23px;
}

.task-view-tab-title.active {
    position: relative;
    color: #222;
    margin: 0;
    padding: 0;
}

.task-view-tab {
    position: relative;
    display: flex;
    height: 33.9px;
    gap: 16px;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #e4e4e4;
}

.task-view-content {
    height: calc(100% - 33.9px);
}

.active-project-member {
    display: flex;
}

.active-project-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: #ffffff;
}

.project-member-add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 86px;
    height: 32px;
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.13px;
    text-align: left;
    color: #fff;
    border-radius: 20px;
    background-color: #1120ff;
}
.project-member-add > span{
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.77;
    letter-spacing: -0.13px;
    text-align: left;
    color: #fff;
}

.active-project-bread {
    width: 100%;
    height: 32px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: -0.14px;
    text-align: left;
    color: #222222;
}

.active-project-title {
    margin-top: 25px;
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: -0.3px;
    text-align: left;
    color: #222222;
    cursor: pointer;
    word-break: break-all;
}

.active-project-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 32px;
    margin-top: 12px;
}

.add-project-date {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 7px 12px;
    box-sizing: border-box;
    border: solid 1px #1120ff;
    border-radius: 9px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.12px;
    color: #4e4e4e;
    cursor: pointer;
}

.task-view-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.task-search {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    padding-left: 38px;
    background: url('../../public/img/task/project-search.webp') no-repeat 3% 50%, #efefef;
    background-size: 24px 24px;
}

.side-menu-title {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a6a6a6;
}

.side-menu-project-name {
    display: flex;
    align-items: center;
    padding: 14px;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
    color: #222;
    height: auto;
    cursor: pointer;
    word-break: break-all;
}


.side-menu-project-name:hover {
    border-radius: 8px;
    background-color: #f5f5f5;
}

.favorite-project-list {
    padding-top: 34px;
}

.my-project-list {
    padding-top: 34px;
}

.open-task-side-menu{
    position: absolute;
    top: 9px;
    left: 9px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    padding: 0;
    background-color: #0a1399;
    cursor: pointer;
}
.open-task-side-menu > img{
    width: 18px;
    height: 18px;
}

.kanban-board-view {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.72vw;
    gap: 0.75vw;
    overflow-x: auto;
    max-width: 74vw;
}


.kanban-board {
    min-width: 17vw;
    padding: 24px;
    border-radius: 24px;
    background-color: #efefef;
}

.kanban-board-header {
    display: flex;
}

.kanban-task-category {
    padding: 9px 12px 9px 12px;
    border-radius: 19px;
    background-color: #1120ff;
    color: #ffffff;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: normal;
    height: 38px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
}

.kanban-task-add-category {
    padding: 9px 12px 9px 12px;
    border-radius: 19px;
    border: 1px solid black;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: normal;
    height: 38px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
}

.kanban-task-count {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: solid 1px #1120ff;
    height: 38px;
    padding: 12px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.24px;
    color: #1120ff;
}

.kanban-task-btn-list {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    flex-direction: row-reverse;
}

.kanban-setting-dropdown {
    display: flex;
    position: absolute;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 13px;
    right: 1%;
    background-color: #fff;
    width: 130px;
    margin: 2px 0 1px 4px;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.18px;
    text-align: left;
    color: #ff0062;
    border-radius: 4px;
    border: solid 1px #2f00ff;
}

.kanban-task-add-btn {
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.kanban-task-setting-btn {
    position: relative;
    height: 38px;
    width: 38px;
    cursor: pointer;

}

.kanban-board-body {
    height: 25.88vw;
    overflow-y: auto;
    margin-top: 16px;
}

.kanban-card {
    width: 100%;
    padding: 14px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 0.3vw;
    cursor: pointer;
}

.kanban-card-header {
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
    color: #222222;
}

.kanban-card-body {
    display: flex;
    flex-wrap: wrap;
}

.kanban-card-body-content {
    margin-top: 6px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.12px;
    text-align: left;
    color: #7a7a7a;
}

.kanban-card-body-status {
    border-radius: 6px;
    background-color: #f2f3ff;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.12px;
    text-align: left;
    color: #1120ff;
    padding: 5px 9px 5px 9px;
}

.kanban-card-footer {
    border-top: 0.6px solid #e5e5e5;
    padding-top: 6px;
    padding-bottom: 6px;
}

.task-detail-view-hide {
    display : none;
}

@keyframes task-view-half-open {
    from {
        right: -65%;
    }

    to {
        right: 0%;
    }
}

.task-detail-view-half {
    position: absolute;
    width: 50vw;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    right: -65%;
    top: 0;
    /* animation-duration: 3s;
    animation-name: slidein; */
    animation: task-view-half-open 0.3s;
    animation-fill-mode: forwards;

}

.task-detail-view-full {
    position: absolute;
    width: 78vw;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    right: 0px;
}

.task-detail-view-container {
    padding: 27px;
}

.task-detail-view-title {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.24px;
    text-align: left;
    color: #222;
}

.task-detail-view-during-date {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px;
    border-bottom: 0.5px solid #e4e4e4;
}

.during-date-badge {
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #f2f3ff;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.12px;
    text-align: left;
    color: #1120ff;
}

.during-date-title {
    opacity: 0.5;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #222;

}

.during-date-start-date {
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #4e4e4e;
}

.during-date-connection {
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #4e4e4e;
}

.during-date-end-date {
    font-family: Pretendard;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #4e4e4e;
}

.task-detail-view-writor {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.task-creator {
    display: flex;
    gap: 8px;
}

.task-detail-status {
    display: flex;
    gap: 15px;
}

.task-status-badge {
    font-family: Pretendard;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.17px;
    text-align: left;
    color: #1120ff;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: #f2f3ff;
    margin-left: 0.7rem;
}

.task-detail-status-title {
    display: flex;
    align-items: center;
}

.task-detail-status-title>p {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: -0.14px;
    text-align: left;
    color: #222;
}

.task-detail-view-bread {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.task-detail-expand-btn {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url('../../public/img/task/task-detail-expand.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.task-detail-expand-btn:hover {
    background: url('../../public/img/task/task-detail-expand-hover.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.task-editor {
    display: flex;
    gap: 8px;
}

.task-detail-view-editor {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.task-bread-name {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.16px;
    text-align: left;
    color: #4e4e4e;
}

.task-writor-title {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: -0.14px;
    text-align: left;
    color: #222;
}

.task-writor {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: -0.14px;
    text-align: left;
    color: #222;
}

.task-latest-update-date {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: -0.14px;
    text-align: left;
    color: #909090;
}

.task-detail-view-body {
    padding-top: 20px;
    min-height: 60vh;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.18px;
    text-align: left;
    color: #222;
    cursor : pointer;
@media screen and (max-width : 1280px){
    .task-side-menu{
        width: 0px;
        overflow: hidden;
    }
    .open-task-side-menu{
        display: flex;
    }
    .task-view-list{
        width: 100%;
    }
}